{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "cache": "false",
  "exclude": [
    "**/*.spec.ts"
  ],
  "include": [
    "src/app/**/*.ts"
  ],
  "report-dir": "./coverage/workflow/"
}
