<app-view-options [project]="(project$ | async)!"></app-view-options>

<!-- Table -->
<mat-table [dataSource]="(taskList$ | async) || []">

  <!-- Name column -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef i18n>Title</mat-header-cell>
    <mat-cell *matCellDef="let task">
      <div class="task-title">
        <app-icon [icon]="faChevronRight" size="16px" [class.invisible]="!task.subTasks.length"></app-icon>
        <span>{{ task.name }}</span>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Statistics column -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef i18n>Status</mat-header-cell>
    <mat-cell *matCellDef="let task">
      <div class="status">
        {{getStatus(task.statusId)}}
      </div>
    </mat-cell>
  </ng-container>

  <!-- Last update column -->
  <ng-container matColumnDef="assignee">
    <mat-header-cell *matHeaderCellDef i18n>Assignee</mat-header-cell>
    <mat-cell *matCellDef="let task"> - </mat-cell>
  </ng-container>

  <!-- Deadline column -->
  <ng-container matColumnDef="deadline">
    <mat-header-cell *matHeaderCellDef i18n>Deadline</mat-header-cell>
    <mat-cell *matCellDef="let task">{{task.deadline | date:'dd.MM.yyyy'}}</mat-cell>
  </ng-container>

  <!-- Actions column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef i18n></mat-header-cell>
    <mat-cell *matCellDef="let task" class="action-cell">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="flex items-center">
        <app-icon icon="matMoreVert"></app-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span i18n>Edit task</span>
        </button>
        <button mat-menu-item (click)="createSubtask(task)">
          <span i18n>Create subtask</span>
        </button>
        <button mat-menu-item class="important">
          <span i18n>Delete task</span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <mat-cell *matCellDef="let task" colspan="5">
      <app-tasks-table [tasks]="task.subTasks" [projectId]="projectId"></app-tasks-table>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['title', 'status', 'assignee', 'deadline', 'actions']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['title', 'status', 'assignee', 'deadline', 'actions'];" class="element-row"
    [class.expanded]="expandedSubtasks.has(row.id)" (click)="expandedSubtasks.toggle(row.id)"></mat-row>

  <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isSubtasksRow" class="subtask-row"
    [class.expanded]="expandedSubtasks.has(row.id)"></mat-row>
</mat-table>
